
// Variables

$white: white; 

$bigFontSize: 80px;
$mediumFontSize: 40px;
$smallFontSize: 15px;

$fontFamily1:'Ubuntu', sans-serif;
$fontFamily2: 'Kanit', sans-serif;

$size: 50px; 
$border: solid; 
$rightBarMargin: 15px; 


// Build

// 
// Bar

body, html { overflow-x: hidden; margin: 0px; }

.bar {   
color: $white; 
padding: 15px;
margin: 15px;
background-image: url(../images/background3.png); 
background-size: cover;
height: 330px;
width: 1435px;
background-repeat: no-repeat;
background-attachment: fixed;
letter-spacing: 5px;
}

// Include and Mixin for Underline

// .underline { @include underline($size, $border ); }

// @mixin underline($size, $border){} 

// 


.heading { font-family: $fontFamily2; 
display: flex; justify-content: center;
margin-top: 50px;
font-size: $bigFontSize;
transition-delay: .5s;
transition: .8s;
}

.subHeading { font-family: $fontFamily2; 
display: flex; justify-content: center;
font-size: $mediumFontSize;
transition-delay: .5s;
transition: .8s;
}

.heading:hover{
font-size: 83px;
transition: .8s;
}

.subHeading:hover{
font-size: 43px;
transition: .8s;
}


// Left Bar

.leftBar { 
    margin: 30px 5px 30px 0px;
    margin-left: 200px;
    padding: 0px; 
    display: flex;
    flex-direction: column;
    flex: 30%;
    position: absolute;
    }


// Personal Profile

.personalProfileContent { 
font-family: $fontFamily2;
margin: 30px; 
}


// Contact

.contactContent { 
margin: 30px; 
font-family: $fontFamily2;

}

a{ color: inherit; text-decoration: underline; }

a:hover{ color: maroon; }

// Education 

.educationContent{ 
margin: 30px;
font-family: $fontFamily2;
margin-bottom: 100px;
}


// Right Bar

.rightBar{
    margin: 75px 50px 30px 5px;
    margin-left: 755px; 
    display: flex;
    flex-direction: column;
    flex: 70%;
    font-family: $fontFamily2;
   background-image: linear-gradient( #a13f3d , #978686);
}


.skillsContent { 

margin-left: $rightBarMargin; 

}

.workExperienceContent {

margin-left: $rightBarMargin;
}
 



